@font-face {
    font-family: 'Georgia';
    src: url("/shelter/assets/fonts/georgia/georgia-regular.ttf");
    font-weight: 400;
  }
@font-face {
    font-family: 'Georgia';
    src: url("/shelter/assets/fonts/georgia/georgia-bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Georgia';
    src: url("/shelter/assets/fonts/georgia/georgia-italic.ttf");
    font-weight: 300;
}


@font-face {
    font-family: 'Arial';
    src: url("/shelter/assets/fonts/arial/arial-regular.ttf");
    font-weight: 400;
  }
@font-face {
    font-family: 'Arial';
    src: url("/shelter/assets/fonts/arial/arial-bold.ttf");
    font-weight: 700;
}
/* шрифты */

:root {
    --bg-dark: #000000;
    --color-gold: #BDAE82;
    --color-white: #ffffff;
    --font1: 60px;
    --font2: 40px;
    --hover-color: #000;
    --family1: 'Georgia', serif;
    --family2: 'Arial', sans-serif;
  }

html{
    box-sizing: border-box;
    scroll-behavior: smooth; 
    overflow-x: hidden;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    
    font-family: 'Arial', sans-serif;
    font-family: 'Georgia', serif;
    color: #ffffff;
    /*background: url(/shelter/assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;*/
    /*overflow-x: hidden;*/
    margin: 0 auto;
}

img{
    max-width: 100%;
    height: auto;
}

button{
    transition: 0.3s;

}

h3,
h1,
p{
    margin: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/*body starts*/
/*header starts*/

.header{
    height: 120px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 1200px;
    
}

.nav-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo-main{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    text-decoration: none;
    height: 35px;
    margin-bottom: 10px;
    cursor: pointer;
}

.logo-main:hover{
    color: #F1CDB3;
}

.logo-under{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #292929;
    text-decoration: none;
}

.static{
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #292929;
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 4px;
}

.header-list{
    display: flex;
    flex-wrap: wrap;
}

.header-item{
    list-style-type: none;
    margin-right: 35px;
}
.header-item:last-child{
    margin-right: 0;
}

.header-link{  
    position: relative;
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
    transition: 0.5s;
}

.header-link:hover{
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 4px;
}

/*burger*/

.header-burger{
    display: none;
    width: 30px;
    height: 22px;
    position: relative;
}

.burger-line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 0;
}

.burger-line-first{
    top: 0;
}

.burger-line-second{
    top: 50%;
    transform: translateY(-50%);
}

.burger-line-third{
    bottom: 0;
}

/*header ends*/
/*main starts*/

.main{
    height: 1342px;
    background: #F6F6F6;
    display: flex;
    
}

.main-container{
    height: 1162px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

.main-title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.grid-container{
    height: 930px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.main-buttons{
    width: 340px;
    height: 52px;
    display: flex;
    justify-content: space-between;
}

.grid-item{
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.grid-item:hover{
    background-color: #F6F6F6;
}

.grid-item:hover .item-button{
    background-color: #FDDCC4;
}

.item-img{
    margin-bottom: 30px;
}
.item-title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 30px;
}

.item-button{
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background: transparent;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    cursor: pointer;
}

.item-button:hover{
    background-color: #FDDCC4;
}


.button{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #292929;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background: transparent;
    width: 52px;
    height: 52px;
    cursor: pointer;
}

.button:hover{
    background: #F1CDB3; 
}

.button-disabled{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #292929;
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 100px;
    background: transparent;
    width: 52px;
    height: 52px;
}


.active{
    background: #F1CDB3;
    width: 52px;
    height: 52px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #292929;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
}

/*footer starts*/

.footer{
    height: 350px;
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer-container{
    height: 310px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer-subtitle{
    display: flex;
    align-items: center;
}

.footer-icon{
    margin-right: 20px;
}

.footer-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 234px;
    margin-top: 16px;
}

.footer-text{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    cursor: pointer;
    text-decoration: none;
}
/*footer ends*/

@media only screen and (max-width: 1279px) and (min-width: 768px) {

    .nav-container{
        width: auto;
        height: auto;
    }

    .nav-logo{
        margin-right: 5vw;
    }

    .main{
        height: 1733px;
    }

    .main-container{
        width: 708px;
        height: 1603px; 
        margin-top: 60px;
        margin-bottom: 70px;
    }
    .main-title{
        padding-top: 20px;
    }

    .grid-container{
        height: 1365px;
        width: 580px;
    }

    .grid-item:not(:nth-child(-n+6)){
        display: none;
    }

    .card-item:not(:nth-child(-n+7)){
        display: none;
    }

    .footer{
        height: 639px;
        display: flex;
        align-items: center;
    }

    .footer-container{
        width: 708px;
        height: 639px;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 6vw;
        align-items: center;
        justify-content: center;  
        padding: 0;
    }
    
    .footer-desc{
        margin-top: 30px;
    }
    .footer-img{
        width: 300px;
        height: 310px;
    }

}

@media only screen and (max-width: 767px) and (min-width: 320px){
    /*header*/
    .header{
        height: auto;
    }
    .header-burger{
        display: block;
        margin-right: 53px;
    }
    .nav-logo{
        margin-left: 2vw;
        margin-right: 12vw;
    }

    .nav-container{
        margin-top: 30px;
        width: auto;
        margin-bottom: 30px;
    }
    .header-nav{
        display: none;
        /*position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--bg-dark);
        z-index: 10;
        padding-left: 127px;
        padding-top: 134px;
        transform: translateX(100%);
        transition: 0.3s;
        margin-left: 0px; */
    }
    /*main*/
    .main{
        height: 1649px;
        align-items: center;
    }
    .main-container{
        height: 1565px;
        margin: 0 3.1vw;
    }

    .main-title{
        font-size: 25px;
    }

    .grid-container{
        height: 1365px;
        width: auto;
        flex-direction: column;
        column-gap: 0;
    }

    .grid-item:not(:nth-child(-n+3)){
        display: none;
    }
    .grid-item:not(:nth-child(-n+4)){
        display: none;
    }

    .card-item:not(:nth-child(-n+5)){
        display: none;
    }

    .grid-item:not(:nth-child(-n+6)){
        display: none;
    }

    .card-item:not(:nth-child(-n+7)){
        display: none;
    }

    .main-buttons{
        width: 300px;
    }

    /*footer*/
    .footer{
        height: auto;
    }
    .footer-container{
        width: auto;
        height: 809px;
        margin: 0 3.1vw;
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    
    .footer-desc{
        margin-top: 0;
        align-items: center;
        gap: 40px;
        height: auto;  
    }

    .footer-title{
        text-align: center;
        font-size: 25px;
    }

    .footer-img{
        height: 269px;
        width: 260px;
    }
}