@font-face {
    font-family: 'Georgia';
    src: url("/shelter/assets/fonts/georgia/georgia-regular.ttf");
    font-weight: 400;
  }
@font-face {
    font-family: 'Georgia';
    src: url("/shelter/assets/fonts/georgia/georgia-bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Georgia';
    src: url("/shelter/assets/fonts/georgia/georgia-italic.ttf");
    font-weight: 300;
}


@font-face {
    font-family: 'Arial';
    src: url("/shelter/assets/fonts/arial/arial-regular.ttf");
    font-weight: 400;
  }
@font-face {
    font-family: 'Arial';
    src: url("/shelter/assets/fonts/arial/arial-bold.ttf");
    font-weight: 700;
}
/* шрифты */

:root {
    
    --color-white: #ffffff;
    --font1: 60px;
    --font2: 40px;
    --hover-color: #000;
    --family1: 'Georgia', serif;
    --family2: 'Arial', sans-serif;
  }

html{
    box-sizing: border-box;
    scroll-behavior: smooth; 
    overflow-x: hidden;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    
    font-family: 'Arial', sans-serif;
    font-family: 'Georgia', serif;
    color: #ffffff;
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    overflow-x: hidden;
    margin: 0 auto;
}
body.--close {
    overflow-y: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

button{
    transition: 0.3s;
    cursor: pointer;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/*body starts*/
/*header starts*/

.header{
    height: auto;
    background-color: transparent;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.header-nav > .nav-logo{
    display: none;
}
.nav-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo-main{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
    height: 35px;
    margin-bottom: 10px;
}

.logo-main:hover{
    color: #FFFFFF;
}

.logo-under{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-decoration: none;
}

.static{
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 4px;
}

.header-list{
    display: flex;
    flex-wrap: wrap;
}

.header-item{
    list-style-type: none;
    margin-right: 35px;
}
.header-item:last-child{
    margin-right: 0;
}

.header-link{  
    position: relative;
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    transition: 0.5s;
}

.header-link:hover{
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 4px;
}



 /*burger*/

.header-burger{
    display: none;
    width: 30px;
    height: 22px;
    position: relative;
}

.burger-line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #F1CDB3;
    position: absolute;
    left: 0;
}

.burger-line-first{
    top: 0;
}

.burger-line-second{
    top: 50%;
    transform: translateY(-50%);
}

.burger-line-third{
    bottom: 0;

}

.header-burger.--open .burger-line:nth-child(1) {
    transform: translateX(-11px) translateY(11px) rotate(90deg);
}
.header-burger.--open .burger-line:nth-child(2) {
    transform: rotate(90deg);
}
.header-burger.--open .burger-line:nth-child(3) {
    transform: translateX(11px) translateY(-9px) rotate(90deg);
}

/*header ends*/
/*first section starts*/

.first{
    height: auto;
    background-color: transparent;
}

.first-container{
    height: 728px;
    display: flex;
    justify-content: space-between;
    
}

.first-title{
    width: 460px;
    height: 322px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 163px;
}

.intro-title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    width: 310px;
    margin: 0;
}

.intro-subtitle{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    margin: 0;
}

.intro-button{
    background: #F1CDB3;
    border-radius: 100px;
    height: 52px;
    width: 207px;
    border: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.intro-button:hover{
    background-color: #FDDCC4;
}

.first-img{
   background: transparent;
}

/*first section end*/
/*second section starts*/

.second{
    height: 588px;
    background-color: #FFFFFF;
    display: flex;
      
}

.second-container{
    height: 408px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    margin-top: 80px;
    margin-bottom: 100px; 
}

.second-title{
    width: 430px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 120px;
}

.about-title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    width: 370px;
    margin: 0;
}

.about-subtitle{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    margin: 0;
}

.second-img{
    background: transparent;
}

/*second section ends*/
/*third section starts*/

.third{
    height: 877px;
    background-color: #F6F6F6;
    display: flex;
     
}

.third-container{
    height: 697px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

h2,
p,
h3{
    margin: 0;
}
.third-title{
    width: 400px;
    height: 90px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.card-container{
    width: 1200px;
    height: 435px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.carousel{
    display: flex;
}

.carousel-wrapper{
    width: 990px;
    
    overflow: hidden;
}

.grid-cards{
    width: 990px;
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

/*.card-item.activated {
    background: #ccc;
  }
  
  .grid-cards:first-child .card-item {
    background: LawnGreen;
  }
  
  .grid-cards:last-child .card-item {
    background: LightSkyBlue;
  }*/
  
  /*.grid-cards {
    gap: 20px;
  
  }*/

  .carousel {
    position: relative;
    left: -990px;
    
  }
  
  @keyframes move-right {
    from {left: -990px;}
    to {left: -1280px;}
  }
  
  .transition-right {
    animation-name: move-right;
    animation-duration: 3s;
  }
  
  @keyframes move-left {
    from {left: -990px;}
    to {left: 0px;}
  }
  
  .transition-left {
    animation-name: move-left;
    animation-duration: 3s;
  }
  
  .hidden {
    display: none;
  }

.third-button{
    width: 260px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    border: 0;
}

.third-button:hover{
    background-color:  #FDDCC4;
}

.card-item-button{
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-item-button:hover{
    background-color: #F1CDB3;
}

.card-item{
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    cursor: pointer;
}

.card-item:hover {
    background-color: #F6F6F6;
}

.card-item:hover .card-button{
    background-color: #FDDCC4;
}

.card-img{
    margin-bottom: 30px;
    background: transparent;
}

.card-title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 30px;
}

.card-button{
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background: transparent;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    width: 187px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-button:hover{
    background-color: #F1CDB3;
}

/*third section end*/
/*four section starts*/

.four{
    height: 611px;
    background-color: #FFFFFF;
    display: flex;
     
}

.four-container{
    height: 431px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
    margin-top: 80px;
    margin-bottom: 100px;    
}

.four-title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.four-cards-container{
    width: 1200px;
    height: 281px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 3.4375rem 7.5rem;
    justify-content: center;
}

.four-item{
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.four-card-title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

/*four section ends*/
/*five section starts*/

.five{
    height: 462px;
    background: #F6F6F6;
    display: flex;
     
}

.five-container{
    width: 915px;
    height: 282px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

.five-text{
    width: 380px;
    height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.five-title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.five-subtitle{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.five-card{
    background: #F1CDB3;
    border-radius: 9px;
    border: 0;
    width: 349px;
    height: 43px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.five-card:hover{
    background-color: #FDDCC4;
}

.card-number{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    text-decoration: none;
    cursor: pointer;
}


.five-disc{
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #B2B2B2;
}

/*five section ends*/
/*footer starts*/

.footer{
    height: auto;
}

.footer-container{
    height: 310px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer-subtitle{
    display: flex;
    align-items: center;
}

.footer-icon{
    margin-right: 20px;
}

.footer-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 234px;
    margin-top: 16px;
}

.footer-text{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    cursor: pointer;
    text-decoration: none;
}
/*footer ends*/

@media only screen and (max-width: 1279px) and (min-width: 768px) {
    
    .nav-container{
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .first-container{
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .first-title{
        margin: 0;
        align-items: center;
        margin-bottom: 100px;
    }

    .intro-title-adaptive{
        display: flex;
        align-items: flex-start;
    }

    .intro-title{
        align-self: flex-start;
    }

    .first-img{
        width: 569px;
        height: 593px;
        margin-left: 169px;
    }

    .second{
        height: auto;
    }

    .second-container{
        margin-top: 80px;
        margin-bottom: 100px;
        height: 868px;
        flex-direction: column-reverse;  
        justify-content: space-between;
    }

    .second-title{
        margin: 0;
    }
   
    .third-container{
        margin-top: 80px;
        margin-bottom: 100px;
    }
    .card-container{
        width: auto;
        gap: 12px;
    }

    .grid-cards{
        width: auto;
        gap: 8%;
    }

    .card-item:not(:nth-child(-n+2)){
        display: none;
    }

    .third-button{
        width: 260px;
    }

    .four{
        height: 779px;
    }

    .four-container{
        height: 599px;
        margin-top: 80px;
        margin-bottom: 100px;
    }

    .four-cards-container{
        width: 630px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1vw;
        height: 449px;   
    }

    .five{
        height: 783px;
    }

    .five-container{
        width: auto;
        height: 603px;
        flex-direction: column-reverse;
        margin-top: 80px;
        margin-bottom: 100px;
    }

    .five-text{
        margin-bottom: 9vw;
    }

    .footer{
        height: 639px;
        display: flex;
        align-items: center;
    }

    .footer-container{
        width: 708px;
        height: 639px;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 6vw;
        align-items: center;
        justify-content: center;  
        padding: 0;
    }
    
    .footer-desc{
        margin-top: 30px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 320px){
    /*header*/
    
    .nav-logo{
        margin-left: 5vw;
    }

    .nav-container{
        margin-top: 30px;
    }
    
    /*burger*/

    .header-link{
      font-size: 32px;
    }
    .header-nav {
        position: fixed;
        right: -740px;
        height: 100vh;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 320px;
        background-color: #292929;
        transition: all 0.5s;
    }
    .header-list {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding-inline-start: 0;
        
    }
    .header-item{
        margin-right: 0;
    }
    
    .header-nav .nav-logo {
        position: absolute;
        top: 30px;
        left: -20px;
        display: flex;
    }

    /*.nav-logo{
        margin-right: 43px;
    }*/

    .header-burger {
        display: block;
        margin-right: 53px;
    }

    .header-nav.--open {
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
    }

    .--open::after {
        position: fixed;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background: #29292999;
    }

    /*first*/

    .first-container{
        height: 673px;
        flex-direction: column;
        align-items: center;
        
    }
    .first-title{
        margin: 0 3.1vw;
        width: auto;
        height: 296px;
        align-items: center;
        gap: 6vh;
    }

    .intro-title{
        text-align: center;
        font-size: 25px;
    }

    .intro-subtitle{
        text-align: center;
        height: 96px;
        width: 300px;
    }

    .first-img{
        height: 272px;
        width: 260px;
        margin-left: 15.6vw;
    }
    /*second*/
    .second{
        height: 974px;
        align-items: center;
    }
    .second-container{
        height: 890px;
        margin: 0 3.1vw;
        flex-direction: column-reverse;
        align-items: center;
        gap: 42px;
        justify-content: flex-end;  
    }

    .second-title{
        margin-left: 0;
        width: auto;
        height: 494px;
        align-items: center;
        gap: 22px;
    }

    .about-title{
        width: auto;
        font-size: 25px;
        text-align: center;
    }

    .about-subtitle{
        line-height: 160%;
        width: 84.4vw;
        text-align: justify;
    }

    .second-img{
        height: 254px;
        width: 260px;
        
    }
    /*third*/
    .third{
        height: 791px;
        align-items: center;
    }
    .third-container{
        height: 707px;
        margin: 0 3.1vw;
    }

    .card-container{
        width: auto;
    }

    .grid-cards{
        width: auto;
    }
    .third-title{
        width: auto;
        font-size: 25px;
    }

    .card-container{
        height: 507px;
        column-gap: 21vw;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 270px;
    }

    .card-item{
        order: 1;
    }

    .card-item-button{
        order: 2;
    }
        
    .card-item:not(:nth-child(-n+1)){
        display: none;
    }
    .card-item:not(:nth-child(-n+2)){
        display: none;
    }

    /*four*/
    .four{
        height: auto;
    }
    .four-container{
        height: 745px;
        justify-content: space-evenly;
        margin: 0;
    }
    .four-title{
        font-size: 25px;
    }
    .four-cards-container{
        display: grid;
        grid-template-rows: repeat(5,1fr);
        grid-template-columns: 1fr 1fr ;
        grid-gap: 30px;
        width: 290px;
        height: 555px;  
    }
    .four-item{
        height: 87px;
        width: 130px;
    }
    .four-card-title{
        font-size: 15px;
    }
    .four-img{
        width: 50px;
        height: 50px;
    }
    /*five*/
    .five{
        height: auto;
    }
    .five-container{
        height: 542px;
        flex-direction: column-reverse;
        align-items: center;
        width: auto;
        margin: 0 3.1vw;
        justify-content: space-evenly;
    }
    .five-text{
        align-items: center;
        width: auto;
        height: 281px;
    }
    .five-title{
        font-size: 25px;
        text-align: center;
    }
    .five-subtitle{
        font-size: 0.8em;
    }
    .five-card{
        width: 87.8vw;
    }
    .card-number{
        font-size: 15px;
    }
    .five-disc{
        font-size: 0.75em;
        text-align: justify;
        width: 87.5vw;
    }
    .five-img{
        width: 81.3vw;
    }
    /*footer*/
    
    .footer-container{
        width: auto;
        height: 809px;
        margin: 0 3.1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    
    .footer-desc{
        margin-top: 0;
        align-items: center;
        gap: 40px;
        height: auto;  
    }

    .footer-title{
        text-align: center;
        font-size: 25px;
    }

    .footer-img{
        height: 269px;
        width: 260px;
    }

    





}   