@font-face {
    font-family: 'Georgia';
    src: url("/shelter/assets/fonts/georgia/georgia-regular.ttf");
    font-weight: 400;
  }
@font-face {
    font-family: 'Georgia';
    src: url("/shelter/assets/fonts/georgia/georgia-bold.ttf");
    font-weight: 700;
}